.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.border-content{
  border:1px solid #000;
  margin:10px;
}
.todo-wrapper .incomplete{
  color: red;
}
.todo-wrapper .complete{
  color: #000;
  text-decoration: line-through;
}
.todo-wrapper .deleteIcon{
  color: red;
    cursor: pointer;
    display: inline;
    margin-left: 10px;
    text-decoration: underline;
    font-weight: bold;
}
.border-content .title{
  font-size: 1em;
  text-decoration: underline;
  color:#61dafb;
}
div.blue{
  background-color: blue;
}
div.red{
  background-color: red;
}
div.green{
  background-color: green;
}
div.black{
  background-color: black;
}
.red-color{
  color: red;
  background-color: rgb(30, 80, 10);
}
.blue-color{
  background-color: black;
  color: blue;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
